<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>
<style>
    body {
        background-color:cadetblue;
     
      
    }
</style>
<!-- Content for the Add page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"><%= title %>:</h1>

            <form class="form" method="POST">
                <div class="form-group">
                    <label for="nameTextField"><b>Contact Name:</b></label>
                    <input type="text" class="form-control"
                    id="nameTextField"
                    placeholder="Enter the Contact Name"
                    name="name" required>
                </div>

                <div class="form-group">
                    <label for="authorTextField"><b>Contact Number:</b></label>
                    <input type="text" class="form-control"
                    id="authorTextField"
                    placeholder="Enter the contact number"
                    name="contact" required>
                </div>

                <div class="form-group">
                    <label for="publishedTextField"><b>Email Address:</b>
                    </label>
                    <input type="text" class="form-control"
                    id="publishedTextField"
                    placeholder="Enter an email address"
                    name="email" required>
                </div>

                <div class="form-group">
                    <label for="descriptionTextArea"><b>Location:</b></label>
                    <textarea type="text" class="form-control"
                    id="descriptionTextArea"
                    placeholder="Enter the location"
                    name="location" required></textarea>
                </div>


                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Submit</button>
                
                    <a href="/contact-list" class="btn btn-warning">
                        <i class="fas fa-undo"></i> Cancel</a>

            </form>
        </div>

    </div>
</div>



<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>